/* Ejercicio */
		/* Agregar los elementos de HTML las reglas de CSS 
		necesarios para que la página quede igual al resultado 
		(Ejercicio3_1.png, Ejercicio3_2.png). */
		
		/* Nota: La imagen Ejercicio3_2.jpg muestra como 
		se ven los elementos al pasar por arriba el puntero 
		del mouse. Estos estilos se deben replicar en todas 
		las casillas de la tabla.*/

h1 {
    background: linear-gradient(100deg, red, blue, green);
    -webkit-background-clip: text;
    color: transparent;
}

/* Definición de colores */
.coloramarillo {
    color: yellow;
}

.colorverde {
    color: green;
}

.colorazul {
    color: blue;
}

.colorrojo {
    color: red;
}

/* Estilo de la tabla */
.styled-table {
    border-collapse: collapse;
    width: 30%;
}

.styled-table th,
.styled-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.fila1 {
    background-color: #BDBDBC; /* Color de fondo para la primera fila */
}

.fila2 {
    background-color: #858584; /* Color de fondo para la segunda fila */
}

/* Efecto al pasar el mouse sobre las celdas */
.styled-table .coloramarillo:hover {
    background-color: yellow; /* Color de fondo al pasar el mouse */
    color: black; /* Cambio de color de texto */
}

.styled-table .colorverde:hover {
    background-color: green; /* Color de fondo al pasar el mouse */
    color: black; /* Cambio de color de texto */
}

.styled-table .colorazul:hover {
    background-color: blue; /* Color de fondo al pasar el mouse */
    color: white; /* Cambio de color de texto */
}

.styled-table .colorrojo:hover {
    background-color: red; /* Color de fondo al pasar el mouse */
    color: white; /* Cambio de color de texto */
}
