/* Ejercicio */
		/* Agregar los elementos de HTML las reglas de CSS 
		necesarios para que la página quede igual al resultado 
		(Ejercicio3_1.png, Ejercicio3_2.png). */
		
		/* Nota: La imagen Ejercicio3_2.jpg muestra como 
		se ven los elementos al pasar por arriba el puntero 
		del mouse. Estos estilos se deben replicar en todas 
		las casillas de la tabla.*/

/* Definición de colores */
.coloramarillo {
    background-color: yellow;
}

.colorverde {
    background-color: green;
}

.colorazul {
    background-color: blue;
}

.colorrojo {
    background-color: red;
}

/* Estilo de la tabla */
.styled-table {
    border-collapse: collapse;
    width: 30%;
}

.styled-table th,
.styled-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.fila1 {
    background-color: #BDBDBC; /* Color de fondo para la primera fila */
}

.fila2 {
    background-color: #858584; /* Color de fondo para la segunda fila */
}

/* Efecto al pasar el mouse sobre las celdas */
.styled-table td:hover {
    transition: background-color 0.3s; /* Efecto de transición */
}

.styled-table .coloramarillo td:hover {
    background-color: yellow; /* Color de fondo al pasar el mouse */
}

.styled-table .colorverde td:hover {
    background-color: green; /* Color de fondo al pasar el mouse */
}

.styled-table .colorazul td:hover {
    background-color: blue; /* Color de fondo al pasar el mouse */
}

.styled-table .colorrojo td:hover {
    background-color: red; /* Color de fondo al pasar el mouse */
}
